/* css changes */
:root {
  --primary-text-color: rgba(67, 68, 85, 1);
  --title-text-color: rgba(46, 47, 66, 1);
  --accent-text-color: rgba(231, 233, 252, 1);
  --brand-text-color: rgba(77, 90, 229, 1);
  --accent-section-color: rgba(244, 244, 253, 1);
  --button-accent-color: rgba(64, 75, 191, 1);
  --current-color-clients: rgba(142, 143, 153, 1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --modal-background-color: rgba(252, 252, 252, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==Скидання стилів== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

/* ==General box-container for all section== */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  background: rgb(255, 255, 255);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ==HEADER== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

/* ==Логотип== */
.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-right: 156px;
}

.accent-logo {
  color: var(--brand-text-color);
}

.accent-logo:active {
  color: var(--brand-text-color);
}

.site-nav {
  display: flex;
}

/* ==Навігація по сторінкам */
.link-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color var(--transition);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-text-color);
}

a.current {
  position: relative;
  color: var(--brand-text-color);
}

a.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -28px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-text-color);
}

.site-nav,
.link-nav {
  margin-right: 40px;
}

/* ==Навігація по контактам== */

.contact-nav {
  display: flex;
  margin-left: auto;
}

.link-contact {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  margin-left: 40px;

  transition: color var(--transition);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--brand-text-color);
}

/* ===MAIN=== */

/* ==Hero Section== */
.hero {
  max-width: 1440px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-image: url(../Images/hero/people-office\ 1.jpg);
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../Images/hero/people-office\ 1.jpg);
  padding-top: 192px;
  padding-bottom: 292px;
  text-align: center;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 56px;
  line-height: 1.07;
  max-width: 492px;
  display: block;
  margin: auto;
  margin-bottom: 48px;
}

.hero-button {
  color: var(--accent-text-color);
  min-width: 170px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--brand-text-color);
  border-color: var(--brand-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  transition: background-color var(--transition);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-accent-color);
}

/* == Modal Window == */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  transition: visibility 500ms, opacity 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: visibility 100ms, opacity 100ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 579px;
  padding: 24px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: visibility 500ms, opacity 500ms;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-text-color);
  cursor: pointer;
  transition: visibility 500ms, opacity 500ms;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--button-accent-color);
  border-color: var(--button-accent-color);
}

.form-title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--current-color-clients);
}

.icon-box {
  position: absolute;
  top: 29px;
  left: 15px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.form-field .form-input {
  margin: 0;
  padding: 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid var(--form-border-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--brand-text-color);
  outline: none;
}

.icon-field {
  fill: var(--title-text-color);
}

.form-input:focus-within {
  fill: var(--button-accent-color);
}

.form-field .form-input.comment {
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 1);
  margin-left: 8px;
}

.checkbox-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--brand-text-color);
}

.form-agreement-box:checked + .checkbox-icon {
  background-image: url(../Images/svg/Property\ 1=click.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--brand-text-color);
  background-color: var(--brand-text-color);
}

.checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border var(--transition);
}

.form-button {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  color: var(--accent-text-color);
  min-width: 170px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--brand-text-color);
  border-color: var(--brand-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color var(--transition);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--button-accent-color);
}

/* ==Benefit Section== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==Для всіх секцій== */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ==Для іконок== */

.benefit-icon {
  width: 64px;
  height: 64px;
}

.benefit-pictures {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-section-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefit-section {
  padding-top: 120px;
}

.benefit-list {
  display: flex;
}

.benefit-list > .benefit-item {
  flex-basis: calc(100% / 4);
}

.benefit-item:not(:first-child) {
  margin-left: 24px;
}

.benefit-list .title {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.benefit-list .text {
  font-size: 16px;
  line-height: 1.5;
}

/* ==WWD Section== */

.title-wwd,
.title-team {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.wwd-list {
  display: flex;
}

.wwd-list > .wwd-item {
  flex-basis: calc(100% / 3);
}

.wwd-item:not(:first-child) {
  margin-left: 24px;
}

/* ==Team Section== */

.section-team {
  background-color: var(--accent-section-color);
}

.team-list {
  display: flex;
}

.team-list > .team-item {
  flex-basis: calc(100% / 4);
}

.team-item:not(:first-child) {
  margin-left: 24px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  background-color: rgb(255, 255, 255);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-list .title {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

/* ==Team social icons== */

.team-social-list {
  display: flex;
  width: 232px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.team-social-icon {
  width: 16px;
  height: 16px;
}

.team-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--brand-text-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--button-accent-color);
}

/* ===Client==== */

.title-client {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-item:not(:last-child) {
  margin-right: 24px;
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 168px;
  height: 88px;
  border: 1px solid var(--current-color-clients);
  border-radius: 4px;
  color: var(--current-color-clients);
  transition: border-color var(--transition);
}

.clien-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
  transition: color var(--transition);
}

.client-item-link:hover,
.client-item-link:focus,
.client-icon:hover,
.client-icon:focus {
  border-color: var(--button-accent-color);
  color: var(--button-accent-color);
}

/*=== Footer=== */
.footer {
  background-color: var(--title-text-color);
}

.footer-section {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-information {
  width: 264px;
  justify-content: flex-start;
  margin-right: 120px;
}

.footer-text {
  color: var(--accent-text-color);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
}

.footer-section .logo {
  color: var(--accent-section-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.accent-logo {
  color: var(--brand-text-color);
}

/* ==footer social icons== */

.footer-social .text {
  display: block;
  color: rgb(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  width: 208px;
  justify-content: space-between;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color var(--transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgba(49, 208, 170, 1);
}

/*======PORTFOLIO===== */

/* ==Filters button== */

.filters-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.filters-item:not(:first-child) {
  margin-left: 24px;
}

.filters-list .button {
  color: var(--brand-text-color);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--accent-text-color);
  padding: 8px 16px;
  transition: color var(--transition), border-color var(--transition),
    background-color var(--transition), box-shadow var(--transition);
}

.filters-list .button:hover,
.filters-list .button:focus {
  color: var(--accent-text-color);
  background-color: var(--brand-text-color);
  border-color: var(--brand-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==Progects== */
.progect-box {
  position: relative;
  overflow: hidden;
}

.overlay-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background-color: var(--brand-text-color);
  overflow: auto;
  padding: 40px 32px;
  transition: var(--transition);
}

.overlay-text {
  color: var(--accent-section-color);
  size: 16px;
  line-height: 1.5;
}

.progect-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -48px;
  margin-left: -24px;
}

.progect-item {
  margin-bottom: 48px;
  margin-left: 24px;
  flex-basis: calc(100% / 3 - 24px);
}

.progect-link {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition);
}

.progect-link:hover,
.progect-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.progect-link:hover .overlay-thumb,
.progect-link:focus .overlay-thumb {
  transform: translateY(0);
}

.progect-description {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid #f4f4fd;
  border-top: transparent;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.progect-list .title {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.progect-link .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
}

.subscribe-box {
  display: inline-block;
  margin-right: 0;
  margin-left: 80px;
}

.subscribe-box .text {
  display: block;
  color: rgb(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: var(--title-text-color);
  color: var(--title-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border var(--transition);
}

.subscribe-button {
  color: var(--accent-text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 168px;
  height: 40px;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--brand-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--brand-text-color);
  padding: 8px 24px;
  transition: color var(--transition), border-color var(--transition),
    background-color var(--transition), box-shadow var(--transition);
}

.filters-list .button:hover,
.filters-list .button:focus {
  color: var(--accent-text-color);
  background-color: var(--brand-text-color);
  border-color: var(--brand-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe-icon {
  width: 24px;
  height: 20px;
  margin-left: 16px;
}
